#autonomyworks-home {
	width: 100%;
	margin: 0 auto;
	max-width: 900px;
}
.col2 {
	width: 49%;
	text-align: center;
	display: inline-block;
	max-width: 260px;
}
#autonomyworks-home .left {
	float: left;
}
#autonomyworks-home .right {
	float: right;
}
#autonomyworks-home a.link {
	background-color: #343234;
    color: white;
    padding: 14px 0px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    max-width: 180px;
    margin: 20px auto;
}
#autonomyworks-home a.link:hover {
	font-weight: bold;
	box-shadow: 2px 2px 6px 0px #747474;
}
#autonomyworks-home .centr-btn {
	display: inline-block;
	width: 100%;
	margin: 20px auto;
}
.row {
	display: inline-block;
	width: 100%;
}

.green{
	background-color:#92d050 !important;
	border: 1px solid #5f8e96 !important;
}
.yellow{
	background-color:#ffd966 !important;
	border: 1px solid #7291a6 !important;
}
.red {
	background-color:#c00000 !important;
	border: 1px solid #833549 !important;
}
.grey {
	background-color:#d9d9d9 !important;
	border: 1px solid #637fa0 !important;
	color: #21000b !important;
}
