/**
 * @package formationpro
 * @since formationpro 1.0
 *
 */
 
.main-navigation li:hover > a, .main-navigation li.current_page_item a, .main-navigation li.current-menu-item a {
	border-top: 4px solid #99cccc;
	background-color: #FFF;
	color: #99cccc;
}
.main-navigation > li > a, .main-navigation li.current_page_ancestor a {
	border-top: 4px solid #99cccc;
	color: #99cccc;
}
.main-navigation ul ul li:hover > a, .main-navigation ul ul li.current_page_item a, .main-navigation ul ul li.current-menu-item a {
	border-top: 0;
}
.main-navigation ul ul {
	border-top: 4px solid #99cccc;
}
.main-small-navigation li:hover > a, .main-small-navigation li.current_page_item a, .main-small-navigation li.current-menu-item a, .main-small-navigation ul ul a:hover {
	color: #666;
}
.widget-title {
	border-bottom: 4px solid #99cccc;
}
.genericon:hover {
	color: #99cccc;
}
.flex-caption-title {
	background-color: #99cccc;
}
.entry-meta a {
	color: #99cccc;
}
.featuretext_middle {
	border-top: 1px solid #99cccc;
}
.socialIcons a, .socialIcons a:visited {
	color: #99cccc;
}
.authorLinks a {
	color: #99cccc;
}
.thumbs-more-link a {
	background-color: #99cccc;
}
.more-link {
	background-color: #99cccc;
}
.grid-more-link {
	background-color: #99cccc;
}
#smoothup:hover {
	background-color: #99cccc;
}
.reply {
	background-color: #99cccc;
}
.featuretext_button a {
	background-color: #99cccc;
}
.tagcloud a {
	border: 1px solid #99cccc;
}
.tagcloud a:hover {
	background: #99cccc;
}
.entry-content a, .entry-content a:visited, .entry-summary a, .entry-summary a:visited {
	color: #99cccc;
}
.entry-content a:hover, .entry-summary a:hover {
	color: #666;
}
.grid-more-link a, .grid-more-link a:visited, .grid-more-link a hover {
	color: #FFF;
}
.social-media a:hover {
	color: #99cccc;
}
/*custom style */

/*footer*/
.footer_container .textwidget a {
	display: inline-block;
	width: 25%;
	text-align: center;
	margin: 14px auto;
}
.footer_container .textwidget a .fa {
	font-size: 40px;
}
/*footer bottom menu */
#menu-bottom-menu li {
	display: inline-block;
	width: 24%;
	font-weight: bold;
	font-size: 1.5em;
	max-width: 200px;
	text-align: center;
	min-width: 130px;
}
#menu-bottom-menu li {
	border: none;
}
/* portal_login_button */
.grey_btn {
	width: 100%;
	text-align: center;
	margin: 50px auto;
}
.grey_btn  {
    background-color: #e7e6e6;
    color: black !important;
    padding: 14px 57px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
}
.grey_btn:hover {
    background-color: #CFCFCF;
}
